.btn-blue {
  background: #0066ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}

.footer {
  background: #020617;
  padding: 4rem 2rem;
  border-top: 1px solid var(--border);
  margin-top: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--text-muted);
  margin-top: 40px;
  border-top: 1px solid var(--border);
  padding-top: 20px;
}
