.section-title {
      font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 40px;
  color: #ffffff;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0, 209, 255, 0.2);
  padding-bottom: 10px;
  display: inline-block;
}
.skills-grid {
  display: flex;
  flex-direction: column; /* L'un au-dessus de l'autre sur grand écran */
  gap: 20px;
}

.skill-card {
  background: rgba(15, 23, 42, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 25px;
  transition: all 0.3s ease;
}

.category-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tag {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.85rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #cbd5e1;
}

/* --- GESTION DES COULEURS --- */
.blue .category-title { color: #3b82f6; }
.blue:hover { border-color: #3b82f6; }

.cyan .category-title { color: #00d1ff; }
.cyan:hover { border-color: #00d1ff; }

.purple .category-title { color: #a855f7; }
.purple:hover { border-color: #a855f7; }

.green .category-title { color: #10b981; }
.green:hover { border-color: #10b981; }

.orange .category-title { color: #f97316; }
.orange:hover { border-color: #f97316; }

.teal .category-title { color: #14b8a6; }
.teal:hover { border-color: #14b8a6; }

.yellow .category-title { color: #eab308; }
.yellow:hover { border-color: #eab308; }

.category-title {
  display: flex;
  align-items: center;
  gap: 10px; /* espace entre l’icône et le texte */
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  width: 36px;
  height: 36px;
}

.category-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  filter: brightness(0) invert(0); /* rend l'image noire */
}




/* Couleurs des catégories appliquées au fond du cercle */
.blue .icon-wrapper { background-color: #3b82f6; }
.cyan .icon-wrapper { background-color: #00d1ff; }
.purple .icon-wrapper { background-color: #a855f7; }
.green .icon-wrapper { background-color: #10b981; }
.orange .icon-wrapper { background-color: #f97316; }
.teal .icon-wrapper { background-color: #14b8a6; }
.yellow .icon-wrapper { background-color: #eab308; }

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}