<section class="section">
  <h2 class="section-title">Professional Experience</h2>

  <div *ngFor="let e of list" class="card experience-card">
    <div class="card-header">
      <div class="header-left">
                <img
          *ngIf="e.logo"
          [src]="e.logo"
          [alt]="e.company + ' logo'"
          class="company-logo"
        />
      <div class="company-info">
        <h3>{{e.role}}</h3>
        <a *ngIf="e.link" 
        [href]="e.link" 
        target="_blank" 
        class="company-name"
        >
        {{e.company}}
      </a>
      </div> </div>
      <span class="duration">{{e.duration}}</span>
    </div>

    <div class="expandable-wrapper">
      <p class="main-description preview-text" *ngIf="e.description">
        {{ e.description.substring(0, 80) }}...
      </p>

      <div class="expandable-content">
        <div class="inner-content">
          <ul class="task-list" *ngIf="e.description">
            <li *ngFor="let point of e.description.split('\n')">
              <span *ngIf="point.trim()">{{ point.replace('•', '').trim() }}</span>
            </li>
          </ul>
          
          <div class="tech-stack" *ngIf="e.skills">
            <span class="badge" *ngFor="let s of e.skills">{{s}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="expand-indicator">View Details ↓</div>
  </div>
</section>